body {
	margin: 0;
	background: #999;
}

a img  { 
   border-style: none; 
   text-decoration: none; 
}

a:link,
a:visited {
	color: #444;
	text-decoration: underline;
}

.wrapper {
    position: absolute;
    margin-left: -405px;
    left: 50%;
    top: 0px;
    width: 810px;
    height: auto;
    background: #fff;
}

.header {
}

.content {
    width: 80%;
    float: left;
    margin-left: 10%;
    height: auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.game {
}

.gameResult {
    border: 1px solid #000;
    border-radius: 10px;
    width: 70%;
    margin-left: 15%;
    height: 410px;
}
   
.bookContainer {
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}

.bookCover {
    float: left;
}

.bookDetails {
    float: left;
    width: 75%;
    margin-left: 10px;
}